@{
    ViewData["Title"] = "Developer dashboard";
}

<div class="container" ng-app="developer" ng-controller="developerCtrl">
    <h3>Developer dashboard</h3>
    <div class="col-md-12">
        <h4>My tasks</h4>
        <div>
            <table style="width:100%;">
                <thead>
                    <tr>
                        <th>Code</th>
                        <th>Name</th>
                        <th>Work left</th>
                        <th>Created</th>
                        <th>Modified</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in items">
                        <td>
                            <a href="#" ng-click="getItemDetails(item.itemId);"><span ng-bind="item.shortCode"></span></a>
                        </td>
                        <td>
                            <a href="#" ng-click="getItemDetails(item.itemId);"><span ng-bind="item.name"></span></a>
                        </td>
                        <td>
                            <span ng-bind="item.workLeft"></span>
                        </td>
                        <td>
                            <span ng-bind="item.created"></span>
                        </td>
                        <td>
                            <span ng-bind="item.modified"></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!--
    <div class="col-md-8">
        <div>
            <h4>Task Details</h4>
            <div ng-show="activeItem.itemId > 0">
                <div>
                    <span>Id: {{activeItem.itemId}}</span>
                </div>
                <div>
                    <span>Name: <input type="text" id="" value="{{activeItem.name}}" /></span>
                </div>
                <br/>
                <div>
                    <button class="btn btn-success" ng-click="saveItemDetails(activeItem);">Save changes</button>
                </div>
            </div>
        </div>
    </div>-->
</div>
<hr />
<div class="container">
    <div class="col-md-12">
        <h4>Current sprint backlog</h4>
        <div>

        </div>
    </div>
</div>
<hr />
<div class="container">
    <div class="col-md-12">
        <h4>Team backlog</h4>
        <div>

        </div>
    </div>
</div>
<hr />
<div class="container">
    <div class="col-md-12">
        <h4>Team members</h4>
        <div>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="person in team.persons">
                        <td>
                            <span ng-bind="person.firstname"></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="~/lib/angularjs/angular.js" asp-append-version="true"></script>
<script src="~/js/Developer.js" asp-append-version="true"></script>