@{
    ViewData["Title"] = "Scrum master's index";
}

<div>
    <h1>Scrum master's index</h1>
    <div id="testA"></div>
    <script src="~/js/webix-components.js" asp-append-version="true" charset="utf-8"></script>
</div>
