@{
    ViewData["Title"] = "Index";
}

<div class="container">
   <div class="col-md-4">
   </div>
   <div class="col-md-8">
     <br/>
@using (Html.BeginForm())
{
       <table>
         <tr>
           <td>Username:</td>
           <td><input type="text" name="username" /></td>
         </tr>
         <tr>
           <td>Password:</td>
           <td>
              <input type="password" name="password" />
             <input type="submit" value="Sign in" />
           </td>
         </tr>
       </table>
}
   </div>
</div>